{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Le Bonheur des Petits GUERRIERS</h1>
    <button type="button" class="btn btn-danger">Danger</button>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eius explicabo fugiat praesentium, provident quia quos tempore ullam! Adipisci commodi cupiditate dicta dolore doloribus fuga non obcaecati sit. Temporibus, voluptas!</p>
{% endblock %}
