@import "~bootstrap/scss/bootstrap";

@import "index";

@import "header";

@import "footer";

@import "article";

@import "contact";

@import "soutenir";

.custom-card {
    background-color: rgb(35, 35, 34);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-5px); 
}

