.contenu_article {
    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px; 
    }
    
    table {
        display: block;
        width: 100%;
        overflow-x: auto; 
        border-collapse: collapse;
    }
}

.custom-card h2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto; 
    line-height: 1.2;
    
    @media (max-width: 576px) {
        font-size: 1.3rem !important; 
        text-align: center !important; 
    }
}

.pagination {
    .page-link {
        background-color: beige; 
        color: #000000 !important;              
        border: 1px solid rgba(0, 0, 0, 0.3); 
        padding: 8px 16px;
        transition: all 0.2s ease-in-out;
    }

    .page-link:hover {
        background-color: #e5c069;
        color: white !important;
        border-color: #000000;
    }

    .page-item.active .page-link {
        background-color: #e5c069;    
        border-color: #000000;
        color: #000000 !important;               
    }

    .page-item.disabled .page-link {
        background-color: #c5c5c3;
        color: rgba(0, 0, 0, 0.5) !important; 
        border-color: rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 576px) {
    .pagination {
        flex-wrap: wrap; 
        justify-content: center !important;

        .page-link {
            padding: 6px 10px !important; 
            font-size: 13px !important;
        }
    }
}