body {
    background-color: rgb(0, 0, 0);
}

.delius-regular, h1, h2, p, a, li, .contenu_article, .date_article {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    color: beige !important;
}

.banner {
    width: 100%;
    min-height: 300px; 
    height: 40vh; 
    background-image: url("../../public/pictures/banner2.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    // On change 'center' par 'flex-end' pour pousser le logo à droite
    justify-content: flex-end; 

    @media (min-width: 768px) {
        height: 2%; 
    }

    .banner-content {
        display: flex;
        justify-content: center;
        align-items: center;
        // On ajoute une marge à droite pour que le logo soit dans l'espace jaune
        padding-right: 2%; 
        
        @media (min-width: 1200px) {
            padding-right: 7%; // Plus d'espace sur les très grands écrans
        }
    }

    .banner-logo {
        width: 150px; // Taille mobile
        height: auto;
        filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.3)); 
        
        @media (min-width: 768px) {
            width: 300px; // Taille ordi
        }
    }
}