body {
    background-color: rgb(0, 0, 0);
}

.delius-regular, h1, h2, p, a, li, .contenu_article, .date_article {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    color: beige !important;
}

.banner {
    width: 100%;
    height: 60vh; 
    background-image: url("../../public/pictures/banner.jpg"); 
    background-size: cover; 
    background-position: center 11%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

