body {
    background-color: rgb(0, 0, 0);
}

.delius-regular, h1, h2, p, a {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

.banner {
    width: 100%;
    height: 60vh; /* Ajuste la hauteur ici (50% de l'écran) */
    background-image: url("../../public/pictures/banner.jpg"); /* Chemin relatif vers l'image */
    background-size: cover; /* Remplit tout l'espace sans déformer */
    background-position: center 11%; /* Centre l'image et évite de couper les têtes */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
