

<nav class="navbar navbar-expand-lg color-nav mb-5">
  <div class="container-fluid">
<img src="{{ asset('pictures/logo.png') }}" class="img-fluid ms-2" alt="Logo">
<h1 class='titleH1'>Le Bonheur des Petits Guerriers</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active color-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-link me-2" href="#">Actualités</a>
        </li>
      </ul>
    </div>
  </div>
</nav>